.backround-img{
    background-image: url('https://png.pngtree.com/thumb_back/fh260/back_our/20190621/ourmid/pngtree-tech-blue-e-commerce-banner-image_187721.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}