.mainDiv {
    /* border: 2px solid red; */
    height: auto;
    width: 97vw;
    display: grid;
    background-color: rgba(222, 216, 248, 0.196);
    grid-template-columns: 15% 60% 25%; 
    /* grid-template-rows: 40% 30% 30%;  */
    grid-template-areas:
        "sidebar midfirst rightfirst"
        "sidebar  midfirst  rightsecond"
        "sidebar midfirst rightthird"
    ;
    grid-gap: 15px;
}


@media  (min-width: 301px) and (max-width: 1300px) {
    .mainDiv {
        display: grid;
        background-color: rgba(222, 216, 248, 0.196);
        grid-template-columns: 20% 80%; 
        /* grid-template-rows: 40% 30% 30%;  */
        grid-template-areas:
            "sidebar midfirst "
            "sidebar  midfirst  "
            "sidebar midfirst "
            " sidebar rightfirst "
            "sidebar rightsecond "
            " sidebar rightthird"
        ;
        grid-gap: 15px;
    }
  }


.first1 {
    grid-area: sidebar;
    background-color: rgb(252, 252, 252);
    width: 20%;
}

.first2 {
    grid-area: midfirst;
    background-color: rgb(252, 252, 252);
 padding: 30px;
}

.first3 {
    grid-area: midsecond;
    background-color: rgb(222, 140, 140);
}

.first4 {
    grid-area: midthird;
    background-color: yellow;
}

.first5 {
    grid-area: rightfirst;
    background-color: rgb(252, 252, 252);
}

.first6 {
    grid-area: rightsecond;
    background-color: rgb(252, 252, 252);
}

.first7 {
    grid-area: rightthird;
    background-color: rgb(252, 252, 252);
}